<section class="container py-4">
    <div class="row">
        <figure class="col-12 col-md-3">
            <img class="img-fluid" [src]="employee.image" [alt]="employee.image">
        </figure>
        <div class="col-12 col-md-9 text-justify">
            <h1>{{employee.first_name}} {{employee.last_name}}</h1>
            <hr class="border-white">
            <p class="text"><b>Id de empleado:</b> {{employee.id}}</p>
            <p class="text"><b>Correo Electrónico: </b>{{employee.email}}</p>
            <p class="text"><b>Nombre de Usuario:</b> {{employee.username}}</p>
            <p class="text"><b>Contraseña: </b>{{employee.password}}</p>
        </div>
        <div class="column text-center">
            <button class="btn btn-danger">Eliminar</button>
            <button class="btn btn-success">Actualizar</button>
            <button class="btn btn-primary" [routerLink]="['/home']">Volver al listado</button>
        </div>
    </div>
</section>